@import 'variables';

.extra-gallery {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex; 
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    list-style-type: none;
}

.extra-art {
    padding: 3px;
}

@media screen and (min-width: 1121px) {
    .album-art {
        width: 122px;
        height: 122px;
    }
    .bubble-txt {
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 851px) and (max-width: 1120px) {
    .album-art {
        width: 105px;
        height: 105px;
    }
    .bubble-txt {
        font-size: 1rem;
    }
}
@media screen and (max-width: 850px) {
    .album-art {
        width: 87px;
        height: 87px;
    }
    .bubble-txt {
        font-size: 0.9rem;
    }
}

.speech-bubble {
	position: relative;
	background: $primary-color-light;
    border-radius: .6rem;
    color: white;
    text-decoration: none;
    padding: .5rem .9rem .5rem .9rem;
    transition-duration: 0.4s;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: $primary-color-light;
	border-top: 0;
	margin-left: -10px;
	margin-top: -10px;
}

.speech-bubble:hover {
    background: $primary-color;
    transition-duration: 0.4s;
}