@import 'variables';

.App {
    text-align: center;
    color: white;
}

body {
    margin: 0;
    font-family: "Segoe UI", "Ebrima", "Microsoft New Tai Lue", -apple-system, BlinkMacSystemFont,
        "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background-color: $secondary-color;
}

.dope-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: 
    linear-gradient(135deg, $secondary-color 45%, transparent 0%),
    linear-gradient(
    $secondary-color-light,
    $secondary-color-light, 8px,
    $secondary-color, 8px,
    $secondary-color
  );
  background-size: 130%, 100% 16px;
  z-index: -1;
}

@media screen and (min-width: 1001px) {
    .content {
        margin: auto;
        width: 67%;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px) {
    .content {
        margin: auto;
        width: 85%;
    }
}
@media screen and (max-width: 750px) {
    .content {
        margin: auto;
        width: 90%;
    }
}

.container {
    padding: 2.5rem;
    margin-bottom: 5rem;
}

.small-container {
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.p-txt-small {
    font-size: 0.9rem;
}

.p-txt {
    font-size: 1.2rem;
}

.txt-accent {
    color: $primary-color-hover;
}

button {
    border: 0;
    transition-duration: 0.4s;
    padding: 5px 12px;
}

button:focus {
    outline: 0;
}

.link {
    color: $primary-color-hover;
    text-decoration: none;
}