@import 'variables';

.all-projects {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex; 
    flex-wrap: wrap; 
    align-items: stretch;
    justify-content: space-evenly;
    list-style-type: none;
}

.project {
    width: 140px;
    height: 140px;
    background-color: $primary-color;
    padding: 18px;
    transition-duration: 0.4s;
    border-radius: 18px;
}

.project:hover {
    background-color: $primary-color-hover;
    transition-duration: 0.4s;
    transform: scale(1.03);
}

.project-image {
    padding: 6px;
}

.project-link {
    padding-bottom: 5px;
    color: white;
    text-decoration: none;
}

.back-btn {
    color: white;
    background-color: $primary-color;
    text-decoration: none;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border-radius: 0.6rem;
    transition-duration: 0.4s;
    cursor: pointer;
}

.back-btn:hover {
    background-color: $primary-color-hover;
    transition-duration: 0.4s;
}