// Define variables.
$primary-color-light: rgb(105, 139, 233);
$primary-color: rgb(92, 129, 230);
$primary-color-hover: rgb(78, 118, 228);

$secondary-color-light: rgb(109, 146, 94);
$secondary-color: rgb(98, 139, 79);
$secondary-color-hover: rgb(86, 121, 71);

$accent-color: rgb(240, 215, 104);

$base-color: #333;
$base-color-hover: #222;