// Define variables.
$primary-color-light: rgb(119, 158, 243);
$primary-color: rgb(106, 148, 240);
$primary-color-hover: rgb(87, 134, 236);

$secondary-color-light: rgb(248, 165, 97);
$secondary-color: rgb(253, 156, 76);
$secondary-color-hover: rgb(253, 149, 63);

$base-color: #333;
$base-color-hover: #222;